@import "tailwindcss";



@theme {
  
  --color-primary: #00d4ff;    
  --color-secondary: #94a3b8;  
  --color-accent: #7000ff;     
  --color-dark: #020617;      
}

@layer base {
  body {
    @apply bg-[var(--color-dark)] text-white antialiased;
   
  }
}